<span [ngSwitch]="icon">
  <span *ngSwitchCase="'html'" class="iconify" data-icon="vscode-icons:file-type-html" [attr.data-width]="width"></span>
  <span *ngSwitchCase="'css'" class="iconify" data-icon="vscode-icons:file-type-css" [attr.data-width]="width"></span>
  <span *ngSwitchCase="'javascript'" class="iconify" data-icon="logos:javascript" [attr.data-width]="width"></span>
  <span *ngSwitchCase="'angular'" class="iconify" data-icon="logos:angular-icon" [attr.data-width]="width"></span>
  <span *ngSwitchCase="'ngrx'" class="iconify" data-icon="file-icons:ngrx" style="color: #a93bcb;" [attr.data-width]="width"></span>
  <span *ngSwitchCase="'sass'" class="iconify" data-icon="logos:sass" [attr.data-width]="width"></span>
  <span *ngSwitchCase="'typescript'" class="iconify" data-icon="logos:typescript-icon" [attr.data-width]="width"></span>
  <span *ngSwitchCase="'firebase'" class="iconify" data-icon="logos:firebase" [attr.data-width]="width"></span>
  <span *ngSwitchCase="'vue'" class="iconify" data-icon="logos:vue" [attr.data-width]="width"></span>
  <span *ngSwitchCase="'tailwindcss'" class="iconify" data-icon="logos:tailwindcss-icon" [attr.data-width]="width"></span>
  <span *ngSwitchCase="'github'" class="iconify" data-icon="akar-icons:github-fill" style="color: #2c3e50;" [attr.data-width]="width"></span>
</span>