<div [ngClass]="{'blur': showDetailsRepoClicked, 'no-blur': !showDetailsRepoClicked}">
  <h1>Algunos de mis proyectitos</h1>

  <div class="grid-container">
    <app-repositorie-preview 
      *ngFor="let repo of repositories"
      [repo]="repo"
      (click)="showRepositorieDetails(repo)"
      >
    </app-repositorie-preview>
  </div>
</div>
<footer>
  <p>
    Diseñado y desarrollado por 
    <a href="https://thisisalberto.dev/" target="_blank">Alberto</a> 
    con <app-icon icon="angular" class="icon" title="angular" [width]="25"></app-icon> y alojado con ❤️ por 
    <app-icon icon="github" class="icon" title="github" [width]="25"></app-icon> | © 2022</p>
</footer>

<app-repositorie-details 
  [repo]="repoClicked" 
  *ngIf="showDetailsRepoClicked"
  (closeRepoDetails)="showDetailsRepoClicked = false"
  >
</app-repositorie-details>