<div [ngClass]="{'blur': showDetailsRepoClicked, 'no-blur': !showDetailsRepoClicked}">
  <h1>Algunos de mis proyectitos</h1>

  <div class="grid-container">
    <app-repositorie-preview 
      *ngFor="let repo of repositories"
      [repo]="repo"
      (click)="showRepositorieDetails(repo)"
      >
    </app-repositorie-preview>
  </div>
</div>

<app-repositorie-details 
  [repo]="repoClicked" 
  *ngIf="showDetailsRepoClicked"
  (closeRepoDetails)="showDetailsRepoClicked = false"
  >
</app-repositorie-details>