.repositorie-preview {
  margin: .5rem;
  cursor: pointer;

  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.repositorie-preview .body {
  padding: .5rem 1rem;
}


.title {
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
}