<div class="repositorie-details">
  <button class="close-button" (click)="closeRepoDetails.emit()">❌</button>
  <div class="shine-effect">
    <figure>
      <img [src]="'/assets/' + repo.name + '.png'" alt="img preview">
    </figure>
    <a class="go-homepage" [href]="repo.homepage" target="_blank">Visita el proyecto</a>
  </div>
  <div class="body">
    <h1 class="title">{{repo.name}}</h1>
    <div class="technologies">
      <app-icon *ngFor="let topic of repo.topics" [icon]="topic" [title]="topic"></app-icon>
    </div>
    <p *ngIf="repo.description">👉 {{ repo.description }}</p>
    <p>👉 <b>Repositorio: </b><a [href]="repo.html_url" target="_blank">{{repo.html_url}}</a></p>
  </div>
</div>