.repositorie-details {
  position: fixed;
  top: 10%;
  left: 50%;
  width: 98%;
  transform: translateX(-50%) translateY(-10%);
  border: .1rem solid #273c75;
  -webkit-box-shadow: 1rem 1rem 1rem 0px #273c75;
  -moz-box-shadow: 1rem 1rem 1rem 0px #273c75;
  box-shadow: 1rem 1rem 1rem 0px #273c75;
  background: #f6ce7d;
}

.repositorie-details .body {
  padding: .5rem 1rem;
}

.repositorie-details .title {
  text-align: center;
  text-transform: uppercase;
}

.go-homepage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: .1rem solid #0097e6;
  background-color: white;
  padding: .5rem 1rem;
  -webkit-box-shadow: .5rem .5rem 0px 0px #273c75;
  -moz-box-shadow: .5rem .5rem 0px 0px #273c75;
  box-shadow: .5rem .5rem 0px 0px #273c75;
  transition: all .2s ease-out 0ms;
  text-decoration: none;
}

.go-homepage:hover {
  border-color: #e056fd;
  /* transform: translateY(-55%rem) translateX(-55%rem); */
  -webkit-box-shadow: 1.2rem 1.2rem .03rem 0px #be2edd;
  -moz-box-shadow: 1.2rem 1.2rem .03rem 0px #be2edd;
  box-shadow: 1.2rem 1.2rem .03rem 0px #be2edd;
}

.go-homepage:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.technologies {
  text-align: center;
}

/* tablets */
@media screen and (min-width: 768px) {
  .repositorie-details {
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translateX(-50%) translateY(-50%);
  }
}

/* desktop */
@media screen and (min-width: 992px) {
  .repositorie-details {
    width: 70%;
  }
}

/* large devices */
@media screen and (min-width: 1200px) {
  .repositorie-details {
    width: 50%;
  }
}