/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

.close-button {
  /* position: absolute; */
  /* top: 0;
  right: 0; */
  border: none;
  padding: .5rem 1rem;
  background-color: #ffff;
  cursor: pointer;
  width: 100%;
  text-align: right;
}

img {
  width: 100%;
  height: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 2rem;
  align-content: space-between;
  justify-content: space-around;
  max-width: 1920px;
  margin: 2rem auto;
}

/* tablets */
@media screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: 45% 45%;
  }
}

/* desktop */
@media screen and (min-width: 992px) {
  .grid-container {
    grid-template-columns: 30% 30% 30%;
  }
}

/* large devices */
@media screen and (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
  }
}