/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

.close-button {
  /* position: absolute; */
  /* top: 0;
  right: 0; */
  border: none;
  padding: .5rem 1rem;
  background-color: #ffff;
  cursor: pointer;
  width: 100%;
  text-align: right;
}

img {
  width: 100%;
  height: auto;
}

figure {
  width: 100%;
  overflow: hidden;
  margin: 0;
	padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 2rem;
  align-content: space-between;
  justify-content: space-around;
  max-width: 1920px;
  margin: 2rem auto;
}

.shine-effect figure {
	position: relative;
}

.shine-effect figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}

.shine-effect figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}

@keyframes shine {
	100% {
		left: 125%;
	}
}

/* unvisited link */
a:link {
  color: #0097e6;
  transition: all .2s ease-out 0ms;
}

/* visited link */
a:visited {
  color: #0097e6;
}

/* mouse over link */
a:hover {
  color: #e056fd;
}

/* selected link */
a:active {
  color: #be2edd;
}

/* tablets */
@media screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: 45% 45%;
  }
}

/* desktop */
@media screen and (min-width: 992px) {
  .grid-container {
    grid-template-columns: 30% 30% 30%;
  }
}

/* large devices */
@media screen and (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
  }
}